p{
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
    font-family: Poppins;
}

h2{
    text-align: center;
    font-size: 2em;
    font-weight: 500;
    font-family: Poppins;
}


#titreEspaceDonAdherer{
    text-align: center;
}

.espaceDonEtAdherer{
    display:flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 100px;
}

.espaceDon {
    display: grid;
    align-items: center;
    text-align: center;
    padding-left: 400px;
}

.espaceAdherer {
    display: grid;
    align-items: center;
    text-align: center;
    padding-right: 400px;
}

.LigneSeparatrice {
    width: 4px;
    height: 500px;
    background-color: #fdd868;
    margin: 0 auto;
    padding-top: 20px;
}

#coeur{
    width: 7vw;
    justify-self: center;
}

#main{
    width: 7vw;
    justify-self: center;
}

button {
    padding: 10px;
    margin:20px;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

#btnDon {
    background-color: #007bff;
}

#btnAdherent {
    background-color: #f8bd12;
}

button:hover {
    opacity: 0.9;
}

.espaceCollaborateur{

}

#texteCollaborateurs{
    text-align: center;
    font-size: 2em;
    font-weight: 500;
    font-family: Poppins;
}

.imagesCollaborateurs{
    display : flex;
    justify-content: center;
    margin-left : 7em;
    gap: 80px;
}

.imageFranceAssos img{
    margin-top: 3em;
    width : 75%;
    height : auto;
    transition: transform 0.3s ease;
}

.imageHeral img{
    width : 80%;
    height : auto;
    margin-top: 5.5em;
    transition: transform 0.3s ease;
}

.imageFranceAssos img:hover{
    transform: scale(1.1);
}

.imageHeral img:hover{
    transform: scale(1.1);
}