body {
    font-family: 'Poppins', sans-serif;
}

.Menu {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    height: 90vh; /* Prend toute la hauteur de la vue */
}

.Menu::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3); /* Couche blanche avec opacité de 70% */
    z-index: 1; /* Place la superposition au-dessus de l'image de fond */
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(2px);
    opacity: 0.25; /* Réduit l'opacité de l'image de fond */
    z-index: -1; /* Place l'image derrière le contenu */
}

.ContenuMenu, .ImageMenu {
    position: relative;
    z-index: 2;
    padding-top:7em;
}

.Menu h3 {
    color: #004383;
    font-size: 3em;
    font-weight: 1000;
    font-style: italic; /* Rend le titre en italique */
    margin-bottom: 1.2em;
    padding-left: 3em;
}

.Menu p{
    color: #004383;
    font-size: 1.5em;
    font-weight: 600;
    padding-left:6em;
}

.ImageFauteuilRoulant{
    width:45em;
    padding-top:2em;
    padding-right:12em;
}

#btnNousAider {
    background-color: #0046ad; /* Couleur ajustée pour correspondre à la seconde image */
    padding: 12px 25px; /* Augmente la taille du bouton */
    font-size: 1.2em; /* Augmente la taille de la police */
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Renforce l'ombre du bouton */
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-left: 7.2em;
    margin-top:3em;
}

#btnNousAider:hover{
    background-color: #003580; /* Couleur plus foncée pour l'effet de hover */
    transform: translateY(-2px); /* Légère élévation au hover */
}

.main-content1 {
    position: relative;
    z-index: 0;
    padding-top:100px;
}

.main-content1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, #DFE7FF 0%, #045DB0 100%);
    opacity: 0.65;
    z-index: -1;
    pointer-events: none;
}

.main-content2 {
    position: relative;
    z-index: 0;
}

.main-content2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, #FFFFFF 0%, #DAF3FF 19%, #DFE7FF 29%);
    opacity: 0.65;
    z-index: -1;
    pointer-events: none;
}

.Presentation {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}

.FondPresentation {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 68%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.15);
    border-radius: 20px;
    z-index: -1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.presentation-content, .presentation-image {
    position: relative;
    z-index: 1;
}

.presentation-content {
    max-width: 42%;
    padding-left:21em;
}

.presentation-content h3 {
    color: white;
    font-size: 3em; /* Augmente la taille */
    font-weight: 800;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3); /* Renforce l'ombre */
    margin-bottom: 20px; /* Ajoute de l'espacement */
    padding-bottom: 30px;
    margin-top:1px;
}

.presentation-content p {
    color: white;
    font-size: 1.7em; /* Augmente la taille de la police */
    font-weight: 600;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3); /* Renforce l'ombre */
    line-height: 1.7; /* Augmente l'espacement entre lignes */
    margin-bottom: 20px; /* Ajoute de l'espacement */
    padding-bottom:25px;
}

#btnPresentation {
    background-color: #0046ad; /* Couleur ajustée pour correspondre à la seconde image */
    padding: 12px 25px; /* Augmente la taille du bouton */
    font-size: 1.2em; /* Augmente la taille de la police */
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Renforce l'ombre du bouton */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Ajoute une transition pour le hover */
    margin-top: 30px; /* Ajoute un espace en haut du bouton */
}

#btnPresentation:hover {
    background-color: #003580; /* Couleur plus foncée pour l'effet de hover */
    transform: translateY(-2px); /* Légère élévation au hover */
}

#fichePresentation {
    position: absolute;
    top: -3em; /* Ajuste cette valeur pour placer l'image plus bas */
    right: 12em; /* Ajuste pour rapprocher l'image de l'autre côté */
    z-index: 1;
    width: 24em;
}

#docteurPresentation {
    position: absolute;
    top: -22em; /* Ajuste cette valeur pour placer l'image plus haut */
    right: 20em; /* Ajuste pour positionner l'image plus près de la fiche */
    z-index: 2; /* Docteur doit rester devant */
    width: 24em;
}

.ChiffresCles{
    padding-top: 7em;
}

#titredeChiffre {
    text-align: center;
    padding-bottom:1em;
}

#titreChiffre {
    font-weight: 620;
    font-size: 2.3em;
    color: #004383;
    font-family: Poppins;
    border-bottom: 5px solid #fdd868;
    display: inline-block;
}

#info1, #info2, #info3, #info4, #info5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    border: 4px solid #004383;
    border-radius: 25px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background-color: rgba(107, 198, 176, 0.07);
}

#info1:hover, #info2:hover, #info3:hover, #info4:hover, #info5:hover {
    transform: translateY(-2px); /* Légère élévation au hover */
}

.ChiffresCles img {
    width: 7vw;
    margin: 0;
    padding-bottom: 20px;
}

.ChiffresCles h3 {
    margin: 5px 0;
    padding: 0;
    text-align: center;
    font-size: 2.5em;
    color: #004383;
    font-weight: 800;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.ChiffresCles p {
    margin: 5px 0;
    padding-bottom: 70px;
    text-align: center;
    font-size: 1.1em;
    font-weight: 500;
    color: #004383;
    line-height: 1.2;
}

.chiffresPartieHaute {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.chiffresPartieBasse {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 10px;
}

#litHopital {
    width: 7vw;
    padding-top: 40px;
}

#virus {
    width: 6vw;
    padding-top: 70px;
}

#tombe {
    width: 5.5vw;
    padding-top: 85px;
}

#prescription {
    width: 5.5vw;
    padding-top: 75px;
}

#medecin {
    width: 5.5vw;
    padding-top: 95px;
}

.espaceDonEtAdherer p {
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
}

h2 {
    text-align: center;
    font-size: 2em;
    font-weight: 500;
}

#titreEspaceDonAdherer {
    text-align: center;
    padding-top: 1.6em;
}

.espaceDonEtAdherer {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left:1em;
}

.espaceDon {
    display: grid;
    align-items: center;
    text-align: center;
    padding-left: 250px;
    font-size: 1.3em;
}

.espaceAdherer {
    display: grid;
    align-items: center;
    text-align: center;
    padding-right: 250px;
    font-size: 1.3em;
}

.LigneSeparatrice {
    width: 4px;
    height: 70vh;
    background-color: #fdd868;
    margin: 0 auto;
    padding-bottom: 20px;
}

#coeur {
    width: 8vw;
    justify-self: center;
}

#main {
    width: 8vw;
    justify-self: center;
}

#btnDon {
    background-color: #007bff;
    padding: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

#btnDon:hover {
    background-color: #0056b3;
}

#btnAdherent {
    background-color: #f8bd12;
    padding: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

#btnAdherent:hover {
    background-color: #d4a00e;
}

button:hover {
    opacity: 0.9;
}

.espaceCollaborateur {}

#texteCollaborateurs {
    text-align: center;
    font-size: 2em;
    font-weight: 500;
}

.imagesCollaborateurs {
    display: flex;
    justify-content: center;
    margin-left: 7em;
    gap: 80px;
    padding-bottom: 2em;
}

.imageFranceAssos img {
    margin-top: 3em;
    width: 75%;
    height: auto;
    transition: transform 0.3s ease;
}

.imageHeral img {
    width: 80%;
    height: auto;
    margin-top: 5.5em;
    transition: transform 0.3s ease;
}

.imageFranceAssos img:hover {
    transform: scale(1.1);
}

.imageHeral img:hover {
    transform: scale(1.1);
}
