body {
    background-image: url("../images/image de fond1.png");
    background-repeat: no-repeat;
    background-size: 100% 40vw;
}
.rectangle1 {
    width: 16vw;  /* Largeur du rectangle */
    height: 28vw; /* Hauteur du rectangle */
    background-color: rgba(0, 110, 182, 0.19); /* Couleur de fond */
    border-radius: 1.563em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    img {
        width: 15vw;
        height: 15vw;
    }
    p {
        font-size: 1.2vw;
        color: #0E5482; /* Couleur du texte */
        font-family: Inter, sans-serif;
        margin-bottom: auto;
        line-height: 150%;
    }
}
.rectangle2 {
    width: 20vw;  /* Largeur du rectangle */
    height: 35vw; /* Hauteur du rectangle */
    background-color: rgba(249, 190, 13, 0.14); /* Couleur de fond */
    border-radius: 1.563em;
    padding: 0.625em; /* Espacement interne */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    img {
        width: 16vw;
        height: 16vw;
        display: flex;
        justify-content: center;
    }
    p {
        font-size: 1.2vw;
        color: #0E5482; /* Couleur du texte */
        font-family: Inter, sans-serif;
        line-height: 150%;
        margin-bottom: auto;
    }
}

#texteContact {
    margin-top: 1.6vw;
    margin-right: 1.5vw;
    line-height: 150%;
}
.boutonContact {
    width: 65%;
    height: 23%;
    background-color: white;
    border-radius: 6.25em;
    border:1px solid #0E5482;

    display: flex;
    justify-content: center;
    align-items: center;
}
.rectangleContact{
    width: 22vw;
    height: 11vw;
    background-color: rgba(249, 13, 13, 0.20);
    border-radius: 0.75em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    p {
        font-size: 1.3vw;
        color: #0E5482;
        font-family: Inter, sans-serif;
    }
    a {
        text-decoration: none;
        color: #0E5482; /* Couleur du texte */
        font-weight: bold;
    }
}
#textIntro h1 {
    color: #0E5482; /* Couleur du texte */
    font-weight : 700;
    font-family: Inter, sans-serif;
    /*font-size: 4em;*/
    font-size: 2.5vw;
}
#textIntro p {
    color: #0E5482; /* Couleur du texte */
    font-weight : 540;
    font-family: Inter, sans-serif;
    /*font-size: 1.5em;*/
    font-size: 1vw;
    line-height: 150%;
}
.texte2023 {
    color: #0E5482; /* Couleur du texte */
    font-weight : bold;
    font-family: Inter, sans-serif;
    font-size: 1.6vw;
    display: flex;
    justify-content: center;
    margin-top: 8vw;
    margin-bottom: 4vw;
}
article{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5vw;
}
.rondBleu {
    width: 11vw;
    height: 11vw;
    /*background-color: rgba(0, 110, 182, 0.14);*/
    background-image: linear-gradient(to bottom, rgba(0, 110, 182, 0.14) 80%, white 97%);
    border-radius: 50%;
    p {
        font-size: 1.2vw;
        color: #0E5482; /* Couleur du texte */
        margin: 0; /* Supprime les marges par défaut */
        font-family: Inter, sans-serif;
    }
}
.rondBeige {
    width: 13vw;
    height: 13vw;
    /*background-color: rgba(249, 190, 13, 0.14);*/
    background-image: linear-gradient(to bottom, rgba(249, 190, 13, 0.14) 80%, white 97%);
    border-radius: 50%;
    p {
        font-size: 1.2vw;
        color: #0E5482; /* Couleur du texte */
        margin: 0; /* Supprime les marges par défaut */
        font-family: Inter, sans-serif;
    }
}
#plainte {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#accompagnement {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#prejudice {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.gras-moyen {
    font-weight: 800; /* Moins épais que le gras standard */
}
.gras-bas {
    font-weight: 700;
}
.euro {
    font-weight: 900; /* Le plus épais possible */
    font-size : 1.7em;
}
.victime {
    font-weight: 900;
    font-size: 2.5em;
}

#textOutro {
    font-size: 1.2vw;
    color: #0E5482;
    font-family: Inter, sans-serif;
    line-height: 150%;
}
.styleMail {
    text-decoration: underline;
    color: #0E5482;
}
.deuxiemePartie {
    font-size: 0.85em;
    color: #0E5482;
    font-family: Inter, sans-serif;
}
.auteur {
    padding-left: 35vw;
    padding-top: 1.5vw;
    font-style: italic;
    a {
        font-size: 0.85em;
        text-decoration: none;
        color: #0E5482; /* Couleur du texte */
    }


}
#imagePresentation{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4.5vw;
}
#basdepage {
    display: flex;
    padding-top: 8vw;
    padding-bottom: 8vw;
    column-gap: 10vw;
}
#sectionContact {
    order: 1;
}
#haut {
    padding-top: 8vw;
    display: flex;
    justify-content: center;
    padding-bottom: 12vw;
}
.logo {
    margin-top: 4vw;
    margin-left: 8.5vw;
    img{
        width: 23vw;
        height: auto;
        padding-left: 4vw;
    }
}

