* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    flex : 1 0 auto;
}
footer{
    position: relative;
    flex-shrink: 0;
    a{
        color: #f8f8f8;
        text-decoration: none;
        font-size: 0.7vw;
    }
    a[href]:hover {
        color: #4493F8;
        text-decoration: underline;
    }
}
.footerHaut{
    background-color : #323232;
    height : 110px;
    overflow: hidden;
}
.footerBas{
    background-color: #272727;
    padding: 5px 0 10px;
    position: relative;
    height : 45px;
    p{
        color: #f8f8f8;
    }
    overflow: hidden;
}
.leLien{
    img{
        width : 2vw;
        height : auto;
        vertical-align: middle;
        margin-right: 0.5vw;
    }
    p{
        padding-top: 1vh;
        padding-left: 0.5vw;
    }
    a{
        color: #edbe33;
        font-family: 'Inter', sans-serif;
        font-weight: 700;
    }
}
.contenuHautFooter{
    display : flex;
    justify-content: center;
    padding: 0 0 10px;
    margin-top: -2%;
}
.blockFooter{
    width : 15%;
    text-align: center;
    li {
        list-style-type: none;
        margin: 5px;
    }
    img{
        width : 0.7vw;
        height : auto;
        vertical-align: middle;
    }
    h3{
        text-align: center;
        font-family: 'Inter', sans-serif;
        font-size : 1vw;
        font-weight: 700;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    p{
        font-family: 'Inria Sans', sans-serif;
        margin: 5px;
        text-align: center;
    }
    #localisationTitre,
    #liensTitre{
        color : #006EB6
    }
    #contactTitre{
        color : #EFC033
    }
}

.mentionEtCondidentialite, .copyright, .cookie {
    display : flex;
    justify-content: center;
}
.mentionEtCondidentialite{
    gap : 1.5vw;
}
.copyright{
    font-size: 0.5vw;
    font-family: 'Inter', sans-serif;
}
.cookie{
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 10;
    img{
        width : 2.5vw;
        height : auto;
        vertical-align: middle;
    }
    transition: transform 0.3s ease;
}
.cookie:hover{
    transform: scale(1.3);
}

@media screen and (max-width: 1300px){
    .footerHaut{
        height : 90px;
    }
    .contenuHautFooter{
        p{
            margin: 1px;
        }
        li{
            margin: 1px;
        }
    }
    .blockFooter{
        h3{
            margin-bottom: 5px;
        }
    }
}

@media screen and (max-width: 1050px){
    .footerHaut{
        height : 75px;
    }
    .contenuHautFooter{
        margin-top: -3%;
    }
}

@media screen and (max-width: 500px){
    footer{
        a{
            font-size : 1vw;
        }
    }
    .footerHaut{
        height: 200px;
    }
    .contenuHautFooter{
        flex-direction: column;
        align-items: center;
        margin-top: -4%;
    }
    .cookie{
        img{
            width : 4vw;
            height : auto;
        }
    }
    .blockFooter{
        h3{
            font-size : 1.5vw;
            margin-bottom: 5px;
            margin-top: 10px;
        }
        p{
            margin: -1px;
        }
        img{
            width : 1vw;
            height : auto;
        }
    }
    .leLien{
        img{
            width : 5vw;
            height : auto;
        }
    }

}
