body, html{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    flex : 1 0 auto;
}
footer{
    margin-top: 50px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    a{
        color: #f8f8f8;
        text-decoration: none;
        font-size: 0.7em;
    }
    a[href]:hover {
        color: #4493F8;
        text-decoration: underline;
    }
}
.footerHaut{
    background-color : #323232;
    height : 110px;
    overflow: hidden;
}
.footerBas{
    background-color: #272727;
    position: relative;
    height: auto;
    p{
        color: #f8f8f8;
    }
    overflow: hidden;
}
.leLien{
    img{
        width: 2em;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        margin: 10px;
    }
    p{
        padding-top: 0.5em;
        padding-left: 3.9em;
        color: #edbe33;
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        font-size: 0.7em;
    }
}
.contenuHautFooter{
    display : flex;
    justify-content: center;
    padding: 0 0 10px;
    margin-top: -2em;
}
.blockFooter{
    width : 15%;
    text-align: center;
    ul{
        margin: 0;
        padding: 0;
    }
    li {
        list-style-type: none;
        margin: 5px;
    }

    img{
        width : 1em;
        height : auto;
        vertical-align: middle;
    }
    h3{
        text-align: center;
        font-family: 'Inter', sans-serif;
        font-size : 1em;
        font-weight: 700;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    p{
        font-family: 'Inria Sans', sans-serif;
        margin: 5px;
        text-align: center;
    }
    #localisationTitre,
    #liensTitre{
        color : #006EB6
    }
    #contactTitre{
        color : #EFC033
    }
}
.contenuBasFooter{
    margin-top: -0.6em;
    a{
        font-size: 0.6em;
    }
}

.mentionEtCondidentialite, .copyright, .cookie {
    display : flex;
    justify-content: center;
}
.mentionEtCondidentialite{
    gap : 2em;
    padding-left: 2em;
}
.copyright{
    font-size: 0.5em;
    padding-left: 2.5em;
    margin-top: -2em;

}

.cookie{
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 10;
    img{
        width : 2.5em;
        height : auto;
        vertical-align: middle;
    }
    transition: transform 0.3s ease;
}
.cookie:hover{
    transform: scale(1.3);
}

