@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

main {
    font-family: 'Poppins', sans-serif;
    color: #006EB6;
    font-weight: bold;
}
h2, h3{
    text-align: center;
}
/* 1. Section Qui sommes-nous? */
#quiSommeNous {
    display: flex;
    background: linear-gradient(to bottom, #DFE7FF 0%, #DAF3FF 50%, #FFFFFF 100%); /* Fond dégradé*/
}
#quiSommeNous img {
    margin-left: 50px;
    margin-top: 150px;
    height: 40em;
    width: auto;
}
#quiSommeNous .contenu {
    margin-top: 6em;
    padding-bottom: 20em;
}
#quiSommeNous h1 {
    font-size: 6em;
}
#quiSommeNous p {
    font-size: 1.2em;
    font-weight: 600;
    margin-left: 7em;
    padding-right: 4em;
    margin-bottom: 2em;
    text-align: justify;
}
/* 2. Section Nos missions */
#nosMissions .contenu{
    padding-top: 0.1em;
    margin-left: 2.5%;
    width: 95%;
    background: linear-gradient(to bottom, #006EB6 0%, #82ccef 100%);
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
#nosMissions .blocks{
    display: flex;
    gap: 3em;
    margin-left: 5em;
    margin-right: 5em;
}
#nosMissions h2{
    font-size: 4em;
}
#nosMissions h3{
    font-size: 1.8em;
    padding-bottom: 1em;

}
#nosMissions li{
    padding-top: 2em;
}
#nosMissions article {
    position: relative;
    width: 33.333%;
    margin-bottom: 3em;
    padding-right: 2em;
    padding-left: 2em;
    padding-bottom: 1em;
    border-radius: 25px;
    overflow: hidden;
    z-index: 0;
    color: #D0D3D4;
}
#nosMissions h2,#nosMissions article h3{
    color: #FFFFFF;
}
#nosMissions h2,#nosMissions article h3, #nosMissions article p, #nosMissions article li {
    position: relative;
    z-index: 1;
    -webkit-text-stroke: 0.5px black;
}
/* met en fond des missions une image flou et transparente*/
#nosMissions article::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    opacity: 0.75;
    z-index: -1;
    filter: blur(5px);
}
#mission1::before {
    background-image: url('../images/Accompagnement.jpeg');
}
#mission2::before {
    background-image: url('../images/Représentation.jpeg');
}
.instance {
    color: #FFDA69;
}
#mission3::before {
    background-image: url('../images/Promotion.jpeg');
}
/* redirection vers la page nos action */
.versNosActions{
    display: flex;
    color: #727272;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;

}
.versNosActions button {
    background: transparent;
    border: none;
    transition: transform 0.3s ease;
}
.versNosActions button img{
    width: 30px;
    height: auto;
}
.versNosActions button:hover{
    transform: scale(1.3);
}



/* 4. Section Equipe*/

#equipe{
    margin-top: 10em;
}
#equipe .titre {
    text-align: center;
}
#equipe .titre h2{
    font-size: 2em;
}
#equipe .titre h3 {
    display: inline-block;
    padding: 0.25em 0.5em;
    background: #006db5;
    color: #FFFFFF;
}

/* 4.1 Carousel*/
.carousel-contenu{
    position: relative;
    margin : 0 20em 0;
}

/*flèches*/
.carousel-contenu .fleche {
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    background: none;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
}
.carousel-contenu .fleche img{
    width: 50px;
    height: auto;
    opacity: 0.8;
    transition: transform 0.5s ease-in-out
    , opacity 0.5s ease-in-out;
}
.carousel-contenu .fleche:hover img{
    transform: scale(1.5);
    opacity: 1;
}
.carousel-contenu .fleche#gauche{
    left: 0;
}
.carousel-contenu .fleche#droite{
    right: 0;
}

/*le carousel*/
.carousel {
    overflow: hidden;
    margin : 10em 10em 0;
}
.personnes {
    display: flex; /* Les cartes sont alignées horizontalement */
    transition: transform 0.5s ease-in-out; /* Animation fluide */
    padding: 3em 0 0;
}
.personne {
    flex: 0 0 20%;
    text-align: center;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0.7;
    color : #FFFFFF;
    user-select: none;
}
.personne img{
    border-radius: 50%;
    width: 100px;
    height: auto;
}

/* la personne au milieu */
.personne.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(1.2);
    opacity: 1;
    z-index: 10;
    user-select: text;
}

.personne.active h3{
    font-size: 0.8em;
    color : #727272;
}
.personne.active h2{
    display: inline-block;
    font-size: 1em;
    padding: 0.1em 0.25em;
    background-color: #EFC033;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.personne.active h4 {
    display: inline-block;
    font-size: 0.4em;
    padding: 0.2em 0.5em;
    background-color: #006db5;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}



footer{
    margin-top: 8em;
}