@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html{
    font-size: 16px;
}

main {
    font-family: 'Poppins', sans-serif;
    color: #006EB6;
    font-weight: bold;
}
h2, h3{
    text-align: center;
}

/* 1. Section Qui sommes-nous? */
#quiSommeNous {
    display: flex;
    background: linear-gradient(to bottom, #DFE7FF 0%, #DAF3FF 50%, #FFFFFF 100%); /* Fond dégradé*/
}
#quiSommeNous img {
    margin: 15vh 0 0 3vw;
    height: 40rem;
    width: auto;
}
#quiSommeNous .contenu {
    margin-top: 11vh;
    padding-bottom: 30vh;
}
#quiSommeNous h1 {
    font-size: 5rem;
}
#quiSommeNous p {
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 7vw;
    padding-right: 4vw;
    margin-bottom: 3vh;
    text-align: justify;
}

/* 2. Section Nos missions */
#nosMissions .contenu{
    padding-top: 0.1rem;
    width: 95%;
    margin: 0 auto;
    background: linear-gradient(to bottom, #006EB6 0%, #82ccef 100%);
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
#nosMissions .blocks{
    display: flex;
    gap: 3%;
    padding: 0 4vw 3vh;
}
#nosMissions h2{
    font-size: 4rem;
}
#nosMissions h3{
    font-size: 2.2rem;
    font-weight: bold;
    padding-bottom: 2vh;
    text-align: center;
}
#nosMissions .blocks p, #nosMissions .blocks li {
    color: #f0f0f0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}
#nosMissions .blocks p{
    font-size: 1.2rem;
}
#nosMissions .blocks li{
    padding-top: 2vh;
    font-size: 1rem;
}
#nosMissions article {
    position: relative;
    width: 33.3333%;
    padding: 2vh 2vw;
    margin: 1vh 0;
    border-radius: 25px;
    overflow: hidden;
    z-index: 0;
    color: #c8c8c8;
    transition: transform 0.5s ease, box-shadow 0.3s ease;
}
#nosMissions h2,#nosMissions article h3{
    color: #FFFFFF;
}
#nosMissions h2,#nosMissions article h3, #nosMissions article p, #nosMissions article li {
    position: relative;
    z-index: 1;
    -webkit-text-stroke: 0.5px black;
}
/* met en fond des missions une image flou et transparente*/
#nosMissions article::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    opacity: 0.50;
    z-index: -1;
    filter: blur(10px);
}
#nosMissions article:hover {
    transform: scale(1.10);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
}
#mission1::before {
    background-image: url('../images/Accompagnement.jpeg');
}
#mission2::before {
    background-image: url('../images/Représentation.jpeg');
}
.instance {
    color: #FFDA69;
}
#mission3::before {
    background-image: url('../images/Promotion.jpeg');
}
/* redirection vers la page nos action */
.versNosActions{
    display: flex;
    color: #727272;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;

}
.versNosActions button {
    background: transparent;
    border: none;
    transition: transform 0.3s ease;
}
.versNosActions button img{
    width: 2.25rem;
    height: auto;
}
.versNosActions button:hover{
    transform: scale(1.45);
    opacity: 0.8;
}



/* 4. Section Equipe*/

#equipe{
    margin: 10vh 0 15vh;
}
#equipe .titre {
    text-align: center;
}
#equipe .titre h2{
    font-size: 2rem;
}
#equipe .titre h3 {
    display: inline-block;
    padding: 0.25vh 0.5vw;
    background: #006db5;
    color: #FFFFFF;
}

/* 4.1 Carousel*/
.carousel-contenu{
    position: relative;
    margin : 0 15vw 0;
}

/*flèches*/
.carousel-contenu .fleche {
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    background: none;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 1;
    border-radius: 50%;
}
.carousel-contenu .fleche img{
    width: 3.25rem;
    height: auto;
    opacity: 0.8;
    transition: transform 0.5s ease-in-out
    , opacity 0.5s ease-in-out;
}
.carousel-contenu .fleche:hover img{
    transform: scale(1.5);
    opacity: 1;
}
.carousel-contenu .fleche#gauche{
    left: 0;
}
.carousel-contenu .fleche#droite{
    right: 0;
}

/*le carousel*/
.carousel {
    overflow: hidden;
    margin : 10rem 10vw 0;
}
.personnes {
    display: flex;
    transition: transform 0.5s ease-in-out;
    padding: 3rem 0 0;
}
.personne {
    height: 30rem;
    flex: 0 0 20%;
    text-align: center;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0.7;
    color : #FFFFFF;
    user-select: none;
}
.personne img{
    border-radius: 50%;
    width: 6rem;
    height: auto;
}

/* la personne au milieu */
.personne.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(1.2);
    opacity: 1;
    z-index: 1;
    user-select: text;
}

.personne.active h3{
    font-size: 0.8rem;
    color : #727272;
}
.personne.active h2{
    display: inline-block;
    font-size: 1rem;
    padding: 0.1vh 0.25vw;
    background-color: #EFC033;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.personne.active h4 {
    display: inline-block;
    font-size: 0.4rem;
    padding: 0.2vh 0.5vw;
    background-color: #006db5;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}


/* Media queries */

/* Téléphone (petit) */
@media screen and (max-width: 400px){
    html{
        font-size: 4px;
    }
}
@media screen and (min-width: 401px) and (max-width: 550px){
    html{
        font-size: 5px;
    }
}
@media screen and (max-width: 550px) {
    #nosMissions h2,#nosMissions .blocks h3{
        -webkit-text-stroke: 0.25px black;
    }

    #nosMissions .blocks p, #nosMissions .blocks li {
        -webkit-text-stroke: 0.125px black;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    }
    #nosMissions .blocks p, #nosMissions .blocks li {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 767px) {
    .personne {
        flex: 0 0 100%;
    }
    .personne img{
        width: 12rem;
    }
    .personne.active h3{
        font-size: 1.6rem;
    }
    .personne.active h2{
        font-size: 2rem;
    }
    .personne.active h4 {
        font-size: 0.8rem;
    }
}
/* Téléphone */
@media screen and (min-width: 551px) and (max-width: 767px) {
    html{
        font-size: 7px;
    }
    #quiSommeNous p {
        font-size: 1.5rem;
    }

}
/* Tablette (petit) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    html{
        font-size: 10px;
    }
    #quiSommeNous p {
        font-size: 1rem;
    }
    .personne {
        flex: 0 0 33.3333%;
    }
    .personne img{
        width: 8rem;
    }
    .personne.active h3{
        font-size: 1.2rem;
    }
    .personne.active h2{
        font-size: 1.5rem;
    }
    .personne.active h4 {
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 1024px) {
    #nosMissions .blocks p, #nosMissions .blocks li {
        -webkit-text-stroke: 0.25px black;
    }
}
/* Tablette */
@media screen and (min-width: 1025px) and (max-width: 1330px) {
    html{
        font-size: 12px;
    }

}
@media screen and (max-width: 1330px) {
    #nosMissions .contenu {
        width: 80%;
    }
    #nosMissions .blocks{
        flex-direction: column;
        align-items: center;
        margin : 0;
    }
    #nosMissions article {
        margin : 3vh 0;
        width: 80%;
    }
    #quiSommeNous h1 {
        font-size: 3rem;
    }
}
/* Ordinateurs (petits écrans) */
@media screen and (min-width: 1331px) and (max-width: 1440px) {
    html{
        font-size: 14px;
    }
}
/* Ordinateurs (écrans moyen ) */
@media screen and (min-width: 1441px) and (max-width: 1920px) {
    html{
        font-size: 15px;
    }
}

@media (min-width: 3000px) {
    html{
        font-size: 25px;
    }
}