main{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #006EB6;
}

#quiSommeNous{
    display:flex;
    img{
        margin-left: 50px;
        margin-top: 150px;
        height:40em;
        width:auto;
    }
    background: linear-gradient(to bottom, #DFE7FF 0%, #DAF3FF 50%, #FFFFFF 100%); /*Fond dégradé */
}

.contenuQuiSommeNous{
    margin-top: 6em;
    padding-bottom: 20em;
    h1{
        font-size: 6em;
    }
    p{
        font-size: 1.2em;
        margin-left: 7em;
        padding-right: 4em;
        margin-bottom: 2em;
        text-align: justify;
    }
}

#nosMissions{
    text-align: center;
}

#nosMissions h1 {
    font-size: 3em;
    display: inline;
    position: relative;
}

#nosMissions h1::after { /* Permet de crée un soulignement avec de l'ombre */
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #FFDA69;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}